<h1><%= @machine.location %> Vending Machine</h1>

<h3> Average Price for Snacks @ this Machine(rounded to nearest dollar): $<%= @snacks.average_price %></h3>

<% @snacks.each do |snack| %>
  <%= snack.name %>
  <%= snack.price %>
<% end %>
